<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <title>Document</title>
</head>

<body  class="container">
  <h1 style="text-align: center;">Convert Excel and save to ADM_REF_BO, REF_MAP_DETAIL</h1>
  <hr>
  <a href="/">Back to home</a>
  <br>
  <th:block th:if="${show}">
    <div class="alert alert-info">
      <span th:text="${mess}"></span>
    </div>
  </th:block>
  <br>
  <br>
  <form action="/excelHandler/saveBo" method="post" enctype="multipart/form-data" class="form-group">
    <input type="file" name="file" id="" class="form-control">
    <br>
    <span>Tên Sheet</span>
    <input type="text" name="sheetName" id="" class="form-control">
    <input type="submit" value="Save" class="btn btn-success" >
  </form>
  <br>
  <!-- <span>Lưu vào REF_MAP_DETAIL</span>
  <br>
  <form action="/excelHandler/saveRefDetail" method="post"  enctype="multipart/form-data" class="form-group">
    <input type="file" name="file" id="" class="form-control">
    <br>
    <span>Tên Sheet</span>
    <input type="text" name="sheetName" id="" class="form-control">
    <input type="submit" value="Save" class="btn btn-success" >
  </form> -->
  <!-- <script>
    function setAction(action) {
      document.getElementById('dataForm').setAttribute('action', action);
    }
  </script> -->
</body>
</html>